<div class="row" id="technology-logos2">
  <div class="col-3">
    <div class="card align-card">
      <%= image_tag "ruby.png", class:"card-img-top", alt:"Ruby logo"%>
    </div>
  </div>
  <div class="col-3">
    <div class="card align-card">
      <%= image_tag "sinatra-logo.png", class:"card-img-top", alt:"sinatra logo"%>
    </div>
  </div>
  <div class="col-3">
    <div class="card align-card">
      <%= image_tag "postgresql-logo.png", class:"card-img-top", alt:"postgres logo"%>
    </div>
  </div>
  <div class="col-3">
    <div class="card align-card">
      <%= image_tag "railsLogo.png", class:"card-img-top", alt:"rails logo"%>
    </div>
  </div>
  <div class="col-3">
    <div class="card align-card">
      <%= image_tag "javascript-logo.png", class:"card-img-top", alt:"javascipt logo"%>
    </div>
  </div>
  <div class="col-3">
    <div class="card align-card">
      <%= image_tag "mongodb-logo.png", class:"card-img-top", alt:"mongodb logo"%>
    </div>
  </div>
  <div class="col-3">
    <div class="card align-card">
      <%= image_tag "nodeLogo.png", class:"card-img-top", alt:"node logo"%>
    </div>
  </div>
  <div class="col-3">
    <div class="card align-card">
      <%= image_tag "vueLogo.png", class:"card-img-top", alt:"vue logo"%>
    </div>
  </div>
  <div class="col-3">
    <div class="card align-card">
      <%= image_tag "reactLogo.png", class:"card-img-top", alt:"react logo"%>
    </div>
  </div>
  <div class="col-3">
    <div class="card align-card">
      <%= image_tag "aws-logo.png", class:"card-img-top", alt:"aws logo"%>
    </div>
  </div>
  <div class="col-3">
    <div class="card align-card">
      <%= image_tag ("whm-logo.jpeg"), class:"card-img-top", alt:"whm logo"%>
    </div>
  </div>
  <div class="col-3">
    <div class="card align-card">
      <%= image_tag "php_logo.png", class:"card-img-top", alt:"php logo"%>
    </div>
  </div>
</div>
