<div class="row" id="technology-logos">

  <%= image_tag "ruby.png", class:"col-lg-2 col-sm-4 py-3 logo img-responsive", alt:"Ruby logo"%>
  <%= image_tag "sinatra-logo.png", class:"col-lg-2 col-sm-4 logo img-responsive", alt:"Sinatra logo" %>
  <%= image_tag "postgresql-logo.png", class:"col-lg-2 col-sm-4  logo img-responsive", alt:"Postgres logo" %>
  <%= image_tag "railsLogo.png", class:"col-lg-2 col-sm-4 logo img-responsive", alt:"Rails logo" %>
  <%= image_tag "javascript-logo.png", class:"col-lg-2 col-sm-4 logo img-responsive", alt:"JavaScript logo" %>
  <%= image_tag "mongodb-logo.png", class:"col-lg-2 col-sm-4 logo img-responsive", alt:"MongoDB logo" %>
  <%= image_tag "nodeLogo.png", class:" col-lg-2 col-sm-4 logo img-responsive", alt:"Node.js logo" %>
  <%= image_tag "vueLogo.png", class:"col-lg-2 col-sm-4 py-3 logo img-responsive", alt:"Vue logo" %>
  <%= image_tag "reactLogo.png", class:"col-lg-2 col-sm-4 logo img-responsive", alt:"React logo" %>

</div>
