<div class="container">

  <h1 class="display-4">About Me</h1>
  <div class="about-me-box">
    <div class="card">
      <h5 class="card-header">Overview</h5>
      <div class="card-body">
        <div class="jumbotron a-list">
          <ul>
            <li>CodeClan graduate -Full Stack Web Development</li>
            <li>University graduate -BSc BEng MSc MEd </li>
            <li>Full member of the Institution of Engineering and Technology</li>
            <li>Experienced web developer </li>
          </ul>


          </div>
          <p>I am a competent IT professional with a proven track record in designing websites and managing computer networks.
            In addition to strong technical skills my teaching experience allowed me to develop excellent
            communication, negotiation and presentation skills.
          </p>
          <p>In September 2019 I went on a CodeClan 3 month full-stack web development course where I completed
            over 500 hours of coding and learned full stack web development.</p>
            <p>Technologies studied:</p>


            <%= render 'technology_logos' %>

          </div>
        </div>

        For more details on specific projects please see my portfolio:
        <div class="text-center" id="portfolio-button">
          <%= link_to "Portfolio", portfolios_path, class: "btn btn-lg btn-secondary green" %>
        </div>
      </div>

      <div class="card">
        <h5 class="card-header">Personality</h5>
        <%= image_tag "intj.png", class:"card-img-top" %>
        <div class="card-body">
          <h6 class="card-subtitle mb-2" id="intj">INTJ</h6>
          <p class="card-text">  Testing with the Myers-Briggs personality assessment labels me as an INTJ
            which is extremely rare for women (< 0.8%). You can read the full INTJ profile
            <a href="https://www.16personalities.com/intj-personality" class = "badge badge-secondary">here</a>
            and below are some of the key traits:
            <ul class="list-group text-center">
              <li class="list-group-item">Highly curious, Imaginative and Strategic</li>
              <li class="list-group-item">Independent and Decisive</li>
              <li class="list-group-item">Hard-Working and Determined</li>
              <li class="list-group-item">Natural Thirst for Knowledge</li>
              <li class="list-group-item">Innovative and Unique</li>
            </ul>

          </p>
        </div>
      </div>
      <br><hr><br>
      <h2>Career Timeline</h2>
      <br>

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="main-timeline">
              <div class="timeline">
                <a href="#" class="timeline-content">
                  <div class="timeline-year">
                    <span>2019</span>
                  </div>
                  <h3 class="title">Full-Stack</h3>
                  <div class="timeline-icon">
                    <i class="fa fa-laptop"></i>
                  </div>
                  <p class="description">
                    CodeClan 3 months in Inverness learning Ruby, Sinatra, Postgres, Vue, Javascript, MongoDB, React, NodeJS, Express.
                  </p>
                </a>
              </div>
              <div class="timeline">
                <a href="#" class="timeline-content">
                  <div class="timeline-year">
                    <span>2017</span>
                  </div>
                  <h3 class="title">Web Designing</h3>
                  <div class="timeline-icon">
                    <i class="fa fa-globe"></i>
                  </div>
                  <p class="description">
                    Self-Employed Web developer with own cloud-hosting service. Studied AWS.
                  </p>
                </a>
              </div>
              <div class="timeline">
                <a href="#" class="timeline-content">
                  <div class="timeline-year">
                    <span>2003</span>
                  </div>
                  <h3 class="title">Chartered Teacher</h3>
                  <div class="timeline-icon">
                    <%= fa_icon("pencil-square-o") %>


                  </div>
                  <p class="description">
                    Delivery of high quality teaching and the development of engaging courses.
                  </p>
                </a>
              </div>
              <div class="timeline">
                <a href="#" class="timeline-content">
                  <div class="timeline-year">
                    <span>2000</span>
                  </div>
                  <h3 class="title">Senior Systems Engineer</h3>
                  <div class="timeline-icon">
                    <i class="fa fa-users"></i>
                  </div>
                  <p class="description">
                    Responsible for a team of engineers maintaining second
                    level desktop support for a large oil company.</p>
                  </a>
                </div>
                <div class="timeline">
                  <a href="#" class="timeline-content">
                    <div class="timeline-year">
                      <span>1998</span>
                    </div>
                    <h3 class="title">Technician</h3>
                    <div class="timeline-icon">
                      <i class="fa fa-wrench"></i>
                    </div>
                    <p class="description">
                      Responsible for managing the school computer network.
                      Installed an Exchange server to provide email for the school.
                    </p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <br><hr>

        <%= render "qualifications" %>

                            <%= render "shared/application_footer" %>
